body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* NAVBAR CSS */
.navbar {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  width: 100vw;
  padding-top: 8px;
  background-color: rgb(0, 0, 187);
}
.navbar img:nth-child(1) {
  height: 50px;
  width: 80px;
}
.navbar img:nth-child(4) {
  padding-top: 5px;
  height: 40px;
  width: 40px;
}

.features {
  display: flex;
  font-family: monospace;
  font-size: 15px;
  list-style: none;
  color: aliceblue;
  letter-spacing: 2px;
  font-weight: 900;
}

.list {
  padding-right: 15px;
  padding-left: 15px;
  justify-content: space-evenly;
}

input[type="text"] {
  height: 40px;
  width: 250px;
  background-color: darkblue;
  border: 0px;
  border-radius: 20px;
}

input[type="text"]::placeholder {
  font-size: 12px;
  font-weight: 250;
  color: aliceblue;
  letter-spacing: 2px;
  padding-left: 30px;
}
.searchbar {
  padding-top: 4px;
}

.list1 {
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 5px;
}

/* CARDS CSS */

.cards {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
}

.websites {
  display: flex;
  align-items: flex-end;
  border-radius: 20px;
  height: 450px;
  width: 300px;
}

.websites:nth-child(1) {
  background-image: url("/images/shopping.png");
  background-repeat: no-repeat;
  background-size: 300px 260px;
}
.websites:nth-child(2) {
  background-image: url("/images/hamleys-hero-img.png");
  background-repeat: no-repeat;
  background-size: 350px 260px;
}
.websites:nth-child(3) {
  background-image: url("/images/medical.png");
  background-repeat: no-repeat;
  background-size: 350px 26a0px;
}

.context {
  background-color: blue;
  height: 180px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 20px;
  padding-bottom: 30px;
  border-radius: 20px;
}
.context p {
  font-size: 25px;
  font-weight: 900;
  color: aliceblue;
}
.context button {
  border: none;
  background-color: rgb(169, 213, 253);
  height: 40px;
  width: 150px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 900;
}
.context button:hover {
  border: none;
  background-color: rgb(103, 181, 255);
  height: 40px;
  width: 150px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 900;
}
